<div class="row condensed">
    <div class="small-12 columns title text-center">
        <h5 class="title">Alineaciones</h5>
    </div>
</div>
<div class="row condensed alineacion">
    <div class="small-12 medium-4 columns">
        <div class="text-center team"><img src="assets/img/teams/millonarios.png" alt="" class="escudo"> Millonarios
        </div>
        <div>
            <ul class="tabs" data-active-collapse="true" data-tabs id="collapsing-tabs">
                <li class="tabs-title is-active"><a href="#titulares" aria-selected="true">Titulares</a></li>
                <li class="tabs-title"><a href="#suplentes">Suplentes</a></li>
            </ul>
        </div>
        <div class="tabs-content" data-tabs-content="collapsing-tabs">
            <div class="tabs-panel is-active" id="titulares">

                <div class="jugadores text-right">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th">
                    <div class="name"><a href="#">Carlos Gonzalez </a><strong>3</strong></div>
                </div>
                <div class="jugadores text-right">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th">
                    <div class="name"><a href="#"><div class="eventos-l"><img src="assets/img/icon/yellow-card.png" alt=""><img src="assets/img/icon/out.png" alt=""> <img src="assets/img/icon/gol.png" alt=""></div>Carlos Gonzalez </a><strong>3</strong></div>
                </div>
                <div class="jugadores text-right">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th">
                    <div class="name"><a href="#">Carlos Gonzalez </a><strong>3</strong></div>
                </div>
                <div class="jugadores text-right">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th">
                    <div class="name"><a href="#">Carlos Gonzalez </a><strong>3</strong></div>
                </div>
                <div class="jugadores text-right">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th">
                    <div class="name"><a href="#">Carlos Gonzalez </a><strong>3</strong></div>
                </div>
                <div class="jugadores text-right">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th">
                    <div class="name"><a href="#">Carlos Gonzalez </a><strong>3</strong></div>
                </div>
                <div class="jugadores text-right">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th">
                    <div class="name"><a href="#">Carlos Gonzalez </a><strong>3</strong></div>
                </div>
                <div class="jugadores text-right">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th">
                    <div class="name"><a href="#">Carlos Gonzalez </a><strong>3</strong></div>
                </div>
                <div class="jugadores text-right">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th">
                    <div class="name"><a href="#">Carlos Gonzalez </a><strong>3</strong></div>
                </div>
                <div class="jugadores text-right">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th">
                    <div class="name"><a href="#">Carlos Gonzalez </a><strong>3</strong></div>
                </div>
                <div class="jugadores text-right">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th">
                    <div class="name"><a href="#">Carlos Gonzalez </a><strong>3</strong></div>
                </div>


            </div>
            <div class="tabs-panel" id="suplentes">
                <div class="jugadores text-right">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th">
                    <div class="name"><a href="#">Carlos Gonzalez </a><strong>3</strong></div>
                </div>
                <div class="jugadores text-right">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th">
                    <div class="name"><a href="#">Luis Alvarez </a><strong>3</strong></div>
                </div>
                <div class="jugadores text-right">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th">
                    <div class="name"><a href="#">Julian Cardenas </a><strong>3</strong></div>
                </div>
                <div class="jugadores text-right">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th">
                    <div class="name"><a href="#">Carlos Gonzalez </a><strong>3</strong></div>
                </div>
                <div class="jugadores text-right">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th">
                    <div class="name"><a href="#">Carlos Gonzalez </a><strong>3</strong></div>
                </div>
                <div class="jugadores text-right">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th">
                    <div class="name"><a href="#">Carlos Gonzalez </a><strong>3</strong></div>
                </div>

            </div>
        </div>
    </div>
    <div class="small-12 medium-4 columns text-center hide-for-small-only">
        <div class="field">
            <div class="local-player">2</div>
            <div class="visitante-player">4</div>
            <img src="assets/img/teams/millonarios.png" alt="" class="local">
            <img src="assets/img/teams/nacional.png" alt="" class="visitante">
            <img src="assets/img/campo.jpg" alt="" class="cancha">
        </div>

    </div>
    <div class="small-12 medium-4 columns">
        <div class="text-center team"><img src="assets/img/teams/nacional.png" alt="" class="escudo"> Nacional
        </div>
        <div>
            <ul class="tabs" data-active-collapse="true" data-tabs id="collapsing-tabs">
                <li class="tabs-title is-active"><a href="#titulares2" aria-selected="true">Titulares</a></li>
                <li class="tabs-title"><a href="#suplentes2">Suplentes</a></li>
            </ul>
        </div>
        <div class="tabs-content" data-tabs-content="collapsing-tabs">
            <div class="tabs-panel is-active" id="titulares2">

                <div class="jugadores text-left">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th2">
                    <div class="name"><strong>3</strong> <a href="#">Carlos Gonzalez </a></div>
                </div>
                <div class="jugadores text-left">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th2">
                    <div class="name"><strong>3</strong> <a href="#">Carlos Gonzalez </a></div>
                </div>
                <div class="jugadores text-left">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th2">
                    <div class="name"><strong>3</strong> <a href="#">Carlos Gonzalez </a></div>
                </div>
                <div class="jugadores text-left">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th2">
                    <div class="name"><strong>3</strong> <a href="#">Carlos Gonzalez </a></div>
                </div>
                <div class="jugadores text-left">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th2">
                    <div class="name"><strong>3</strong> <a href="#">Carlos Gonzalez </a></div>
                </div>
                <div class="jugadores text-left">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th2">
                    <div class="name"><strong>3</strong> <a href="#">Carlos Gonzalez </a></div>
                </div>
                <div class="jugadores text-left">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th2">
                    <div class="name"><strong>3</strong> <a href="#">Carlos Gonzalez </a></div>
                </div>
                <div class="jugadores text-left">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th2">
                    <div class="name"><strong>3</strong> <a href="#">Carlos Gonzalez </a></div>
                </div>
                <div class="jugadores text-left">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th2">
                    <div class="name"><strong>3</strong> <a href="#">Carlos Gonzalez </a></div>
                </div>
                <div class="jugadores text-left">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th2">
                    <div class="name"><strong>3</strong> <a href="#">Carlos Gonzalez </a></div>
                </div>
                <div class="jugadores text-left">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th2">
                    <div class="name"><strong>3</strong> <a href="#">Carlos Gonzalez </a></div>
                </div>
            </div>
            <div class="tabs-panel" id="suplentes2">
                <div class="jugadores text-left">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th2">
                    <div class="name"><strong>3</strong> <a href="#">Carlos Gonzalez </a></div>
                </div>
                <div class="jugadores text-left">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th2">
                    <div class="name"><strong>3</strong> <a href="#">Carlos Gonzalez </a></div>
                </div>
                <div class="jugadores text-left">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th2">
                    <div class="name"><strong>3</strong> <a href="#">Carlos Gonzalez </a></div>
                </div>
                <div class="jugadores text-left">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th2">
                    <div class="name"><strong>3</strong> <a href="#">Carlos Gonzalez </a></div>
                </div>
                <div class="jugadores text-left">
                    <img src="assets/img/test/jugador2.jpg" alt="" class="player-th2">
                    <div class="name"><strong>3</strong> <a href="#">Carlos Gonzalez </a></div>
                </div>

            </div>
        </div>
    </div>

</div>
<hr>