<div class="row condensed">
    <div class="small-12 columns title text-center">
        <h5 class="title">Alineaciones</h5>
    </div>
</div>
<div id="matchstats-lineups" class="row condensed alineacion">
  <opta-widget load="false" sport="football" widget="matchstats" competition="371" season="2017" match="902873" template="lineups" live="false" side="both" column_count="1" side_by_side="true" show_match_header="false" show_score="false" show_halftime_score="false" show_crests="true" show_team_formation="true" show_competition_name="true" show_date="false" date_format="dddd D MMMM YYYY" order_by="jersey" group_by_position="false" show_position="true" show_images="true" show_key="false" show_goalkeepers="true" show_defenders="true" show_midfielders="true" show_forwards="true" show_subs="true" show_unused_subs="false" show_managers="true" show_captain="false" show_match_events="true" competition_naming="full" team_naming="full" player_naming="full" show_live="false" show_logo="false" show_title="false" breakpoints="400, 700"></opta-widget>
</div>
<hr>