<hr>
<div class="row condensed">
    <div class="column">
        <div class="comentario row">
            <div class="small-12 medium-1 columns text-center">
                <img src="assets/img/icon/coment.png" alt="" class="event">
            </div>
            <div class="small-12 medium-1 columns">
                <div class="minuto">3´</div>
            </div>
            <div class="small-12 medium-10 columns">
                <div class="coment">César Carrillo (Jaguares de Córdoba), tarjeta amarilla Quisque tempus sem et
                    efficitur maximus. Aenean mattis ante non sodales aliquam. Aenean mattis ante non sodales aliquam.
                    Aenean mattis ante non sodales aliquam.
                </div>
            </div>
        </div>
        <div class="comentario row">
            <div class="small-12 medium-1 columns text-center">
                <img src="assets/img/icon/coment.png" alt="" class="event">
            </div>
            <div class="small-12 medium-1 columns">
                <div class="minuto">3´</div>
            </div>
            <div class="small-12 medium-10 columns">
                <div class="coment destacado">César Carrillo (Jaguares de Córdoba), tarjeta amarilla Quisque tempus sem et
                    efficitur maximus. Aenean mattis ante non sodales aliquam. Aenean mattis ante non sodales aliquam.
                    Aenean mattis ante non sodales aliquam.
                </div>
            </div>
        </div>
        <div class="comentario row">
            <div class="small-12 medium-1 columns text-center">
                <img src="assets/img/icon/coment.png" alt="" class="event">
            </div>
            <div class="small-12 medium-1 columns">
                <div class="minuto">3´</div>
            </div>
            <div class="small-12 medium-10 columns">
                <div class="coment">César Carrillo (Jaguares de Córdoba), tarjeta amarilla Quisque tempus sem et
                    efficitur maximus. Aenean mattis ante non sodales aliquam. Aenean mattis ante non sodales aliquam.
                    Aenean mattis ante non sodales aliquam.
                </div>
            </div>
        </div>
    </div>
</div>