<div class="medium-3 columns menu-nav">
    <div class="fecha text-center">
        Liga aguila - II - Fecha 12
    </div>
    <ul class="accordion" data-accordion>
        <li class="accordion-item is-active" data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title">Miercoles 6 de abril</a>

            <div class="accordion-content" data-tab-content>

                <div class="row gamecast-nav active">
                    <div class="small-5 text-right">Nac
                        <img src="assets/img/teams/nacional.png" alt="" class="escudo"></div>
                    <div class="small-2 text-center marcador playing">2 - 0</div>
                    <div class="small-5 text-left"><img src="assets/img/teams/millonarios.png" alt=""
                                                                 class="escudo">Mil
                    </div>
                </div>
                <div class="row gamecast-nav">
                    <div class="small-5 text-right">Nac
                        <img src="assets/img/teams/nacional.png" alt="" class="escudo"></div>
                    <div class="small-2 text-center marcador waiting">0 - 0</div>
                    <div class="small-5 text-left"><img src="assets/img/teams/millonarios.png" alt=""
                                                        class="escudo">Mil
                    </div>
                </div>
                <div class="row gamecast-nav end">
                    <div class="small-5 text-right">Nac
                        <img src="assets/img/teams/nacional.png" alt="" class="escudo"></div>
                    <div class="small-2 text-center marcador finish">2 - 0</div>
                    <div class="small-5 text-left"><img src="assets/img/teams/millonarios.png" alt=""
                                                        class="escudo">Mil
                    </div>
                </div>
            </div>
        </li>
        <li class="accordion-item" data-accordion-item>
            <!-- Accordion tab title -->
            <a href="#" class="accordion-title">Jueves 7 de abril</a>

            <div class="accordion-content" data-tab-content>
                <div class="row gamecast-nav">
                    <div class="small-5 text-right">Nac
                        <img src="assets/img/teams/nacional.png" alt="" class="escudo"></div>
                    <div class="small-2 text-center marcador playing">2 - 0</div>
                    <div class="small-5 text-left"><img src="assets/img/teams/millonarios.png" alt=""
                                                        class="escudo">Mil
                    </div>
                </div>
                <div class="row gamecast-nav">
                    <div class="small-5 text-right">Nac
                        <img src="assets/img/teams/nacional.png" alt="" class="escudo"></div>
                    <div class="small-2 text-center marcador waiting">0 - 0</div>
                    <div class="small-5 text-left"><img src="assets/img/teams/millonarios.png" alt=""
                                                        class="escudo">Mil
                    </div>
                </div>
                <div class="row gamecast-nav end">
                    <div class="small-5 text-right">Nac
                        <img src="assets/img/teams/nacional.png" alt="" class="escudo"></div>
                    <div class="small-2 text-center marcador finish">2 - 0</div>
                    <div class="small-5 text-left"><img src="assets/img/teams/millonarios.png" alt=""
                                                        class="escudo">Mil
                    </div>
                </div>

            </div>
        </li>
        <!-- ... -->
    </ul>
</div>