<div class="row condensed">
    <div class="small-12 columns title text-center">
        <h5 class="title">En el partido</h5>
    </div>
    <div class="medium-12 columns">
      <opta-widget parent="partido" load="false" sport="football" widget="matchstats" competition="371" season="2017" match="902873" template="team_graphs" live="false" navigation="tabs_more" default_nav="1" show_match_header="false" show_score="false" show_halftime_score="false" show_crests="false" show_team_formation="true" show_competition_name="true" graph_style="full" show_date="false" date_format="dddd D MMMM YYYY" show_social="false" rounding="1" competition_naming="full" team_naming="full" show_live="false" show_logo="false" show_title="false" breakpoints="400, 767, 991, 1170"></opta-widget>
    </div>
</div>
<hr>
<!--Widgets-->

<div class="row condensed widgets">
    <div class="small-12 columns title text-center">
        <h5 class="title">Widgets</h5>
    </div>
    <div class="medium-12 medium-centered columns">
        <ul class="tabs" data-active-collapse="true" data-tabs id="collapsing-tabs">
            <li class="tabs-title is-active"><a href="#pizarra" aria-selected="true">Pizarra</a></li>
            <li class="tabs-title"><a href="#mapa">Mapa</a></li>
            <li class="tabs-title"><a href="#pases">Pases</a></li>
            <li class="tabs-title"><a href="#comparar">Comparar jugadores</a></li>
        </ul>
    </div>
</div>
<div class="tabs-content" data-tabs-content="collapsing-tabs">
  <div class="row condensed">
    <div class="columns">
      <div class="tabs-panel is-active" id="pizarra">
        <opta-widget parent="partido" load="false" sport="football" widget="chalkboard" competition="371" season="2017" match="902873" preselected_player="all" template="normal" live="false" orientation="horizontal" side="both" one_direction="false" show_match_header="false" show_halftime_score="false" show_crests="false" show_team_formation="false" show_competition_name="true" competition_naming="full" show_date="true" date_format="dddd D MMMM YYYY" show_team_sheets="true" show_subs="true" show_position="true" show_events="true" show_tooltips="false" show_images="false" show_team_names="false" show_area_selector="false" show_timecontrols="true" show_timecontrols_buttons="true" show_timecontrols_bar="true" show_timecontrols_events="true" team_naming="full" player_naming="full" show_logo="false" show_title="false" breakpoints="400, 700"></opta-widget>
      </div>
      <div class="tabs-panel" id="mapa">
        <opta-widget class="mapa" load="false" sport="football" widget="heatmap" competition="" season="" template="normal" live="false" show_maps="all" orientation="horizontal" side="both" dimension="2D" one_direction="false" show_match_header="false" show_score="false" show_halftime_score="false" show_crests="true" show_team_formation="false" show_competition_name="false" show_date="false" date_format="dddd D MMMM YYYY" show_team_sheets="true" show_subs="true" show_position="true" show_timecontrols="true" show_timecontrols_buttons="true" show_timecontrols_bar="true" show_tooltips="true" competition_naming="full" team_naming="full" player_naming="full" show_logo="false" show_title="false" breakpoints="400, 767, 991, 1170"></opta-widget>
      </div>
      <div class="tabs-panel" id="pases">
        <opta-widget load="false" sport="football" widget="average_positions" competition="371" season="2017" match="902873" template="normal" live="false" orientation="horizontal" side="both" show_match_header="false" show_halftime_score="false" show_crests="true" show_pitch_crests="false" show_graphics="all" default_nav="1" show_images="false" show_subs="true" show_competition_name="false" show_date="false" date_format="dddd D MMMM YYYY" show_referee="false" show_venue="false" show_attendance="false" show_team_sheets="false" subs_selected="false" competition_naming="full" team_naming="full" player_naming="full" show_logo="false" show_title="false" breakpoints="400, 767, 991, 1170"></opta-widget>
      </div>
      <div class="tabs-panel" id="comparar">
        <opta-widget load="false" sport="football" widget="player_compare" competition="371,371" season="2017,2017" team="7585,2670" template="normal" navigation="tabs_more" default_nav="1" show_selects="true" show_crests="false" show_images="false" competition_naming="full" team_naming="full" player_naming="full" show_logo="false" show_title="false" breakpoints="400, 767, 991, 1170"></opta-widget>
      </div>
    </div>
  </div>
</div>

