<div class="row condensed">
    <div class="small-12 columns title text-center">
        <h5 class="title">En el partido</h5>
    </div>
    <div class="medium-12 columns">
        <div class="row stats">
            <div class="medium-4 columns text-right">
                <div class="row text-right">
                    <div class="small-12 medium-9 columns text-right">
                        <div class="team">Nacional</div>
                    </div>
                    <div class="medium-3 columns">
                        <img src="assets/img/teams/nacional.png" alt="" class="escudo-left">
                    </div>
                </div>
            </div>
            <div class="medium-4 columns text-left"></div>
            <div class="medium-4 columns text-left">
                <div class="row text-left">
                    <div class="medium-3 columns">
                        <img src="assets/img/teams/millonarios.png" alt="" class="escudo-right">
                    </div>
                    <div class="small-12 medium-9 columns text-left">
                        <div class="team">Millonarios</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row stats">
            <div class="medium-4 columns text-right">
                40%
            </div>
            <div class="medium-4 columns text-center">
                Posesión %
            </div>
            <div class="medium-4 columns text-left">
                <div class="featured">60%</div>
            </div>
        </div>
        <div class="row stats">
            <div class="medium-4 columns text-right">
                9
            </div>
            <div class="medium-4 columns text-center">
                Disparos al arco
            </div>
            <div class="medium-4 columns text-left">
                8
            </div>
        </div>
        <div class="row stats">
            <div class="medium-4 columns text-right">
                <div class="featured">12</div>
            </div>
            <div class="medium-4 columns text-center">
                Disparos
            </div>
            <div class="medium-4 columns text-left">
                8
            </div>
        </div>
        <div class="row stats">
            <div class="medium-4 columns text-right">
                9
            </div>
            <div class="medium-4 columns text-center">
                Toques
            </div>
            <div class="medium-4 columns text-left">
                8
            </div>
        </div>
        <div class="row stats">
            <div class="medium-4 columns text-right">
                9
            </div>
            <div class="medium-4 columns text-center">
                Pases
            </div>
            <div class="medium-4 columns text-left">
                <div class="featured">12</div>
            </div>
        </div>
        <div class="row stats">
            <div class="medium-4 columns text-right">
                9
            </div>
            <div class="medium-4 columns text-center">
                Faltas
            </div>
            <div class="medium-4 columns text-left">
                8
            </div>
        </div>
        <div class="row stats">
            <div class="medium-4 columns text-right">
                9
            </div>
            <div class="medium-4 columns text-center">
                Asistencias
            </div>
            <div class="medium-4 columns text-left">
                8
            </div>
        </div>
        <div class="row stats">
            <div class="medium-4 columns text-right">
                9
            </div>
            <div class="medium-4 columns text-center">
                Tiros de esquina
            </div>
            <div class="medium-4 columns text-left">
                8
            </div>
        </div>
        <div class="row stats">
            <div class="medium-4 columns text-right">
                9
            </div>
            <div class="medium-4 columns text-center">
                Fueras de juego
            </div>
            <div class="medium-4 columns text-left">
                8
            </div>
        </div>
    </div>
</div>
<hr>
<!--Widgets-->

<div class="row condensed widgets">
    <div class="small-12 columns title text-center">
        <h5 class="title">Widgets</h5>
    </div>
    <div class="medium-12 medium-centered columns">
        <ul class="tabs" data-active-collapse="true" data-tabs id="collapsing-tabs">
            <li class="tabs-title is-active"><a href="#pizarra" aria-selected="true">Pizarra</a></li>
            <li class="tabs-title"><a href="#mapa">Mapa</a></li>
            <li class="tabs-title"><a href="#pases">pases</a></li>
            <li class="tabs-title"><a href="#comparar">Comparar jugadores</a></li>
        </ul>
    </div>
</div>
<div class="tabs-content" data-tabs-content="collapsing-tabs">
    <div class="tabs-panel is-active" id="pizarra">
        {{> widget}}
    </div>
    <div class="tabs-panel" id="mapa">

    </div>
    <div class="tabs-panel" id="pases">

    </div>
    <div class="tabs-panel" id="comparar">

    </div>
</div>