<div class="timeline">
    <div class="row condensed">
      <div class="columns" id="opta-w-timeline">
        <opta-widget ccclass="opta-widget" load="false" sport="football" widget="timeline" competition="" season="" match="" template="normal" live="false" orientation="horizontal" vertical_timebar_height="260" show_match_header="true" show_score="true" show_crests="true" show_assists="none" show_team_formation="true" show_clock="true" show_period_dividers="true" show_halftime_score="false" show_date="false" date_format="dddd D MMMM YYYY" show_attendance="false" show_images="true" show_referee="true" show_venue="true" show_cards="all" show_goals="true" show_penalties_missed="true" show_subs="true" show_goals_combined="false" show_shootouts="true" show_competition_name="false" competition_naming="full" team_naming="full" player_naming="full" show_live="false" show_logo="true" show_title="true" title=" " breakpoints="400, 767, 991, 1170"></opta-widget>
      </div>
    </div>
    <div class="row tabs-header">
        <div class="small-12 small-centered medium-6 medium-centered columns">
            <ul id="tabs-statistics" class="tabs" data-tabs>
              <li class="tabs-title is-active"><a href="#juego" aria-selected="true">En juego</a></li>
              <li class="tabs-title"><a href="#alineaciones">Alineaciones</a></li>
              <li class="tabs-title"><a href="#estadisticas">Estadísticas</a></li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="tabs-content" data-tabs-content="tabs-statistics">
    <div class="tabs-panel is-active" id="juego">
        {{> comentarios}}
    </div>
    <div class="tabs-panel" id="alineaciones">
        {{> alineacion}}
    </div>
    <div class="tabs-panel" id="estadisticas" data-children="estadisticas">
        {{> estadisticas}}
    </div>
</div>
