<div class="timeline">
    <div class="row condensed">

        <div class="small-12 medium-4 columns text-center marcador show-for-small-only"><img
                src="assets/img/teams/nacional.png" alt="" class="escudo"> 1-3 <img
                src="assets/img/teams/millonarios.png" alt="" class="escudo"></div>

        <div class="small-6 medium-4 columns text-right info-l">
            <div class="players">S. Hernandez <strong>´40</strong>

                <div class="eventos-l"><img src="assets/img/icon/gol.png" alt=""></div>
            </div>
            <div class="players">J. Cardenas <strong>´40</strong>, O. Valencia <strong>´40</strong>

                <div class="eventos-l"><img src="assets/img/icon/yellow-card.png" alt=""></div>
            </div>
        </div>

        <div class="small-12 medium-4 columns text-center marcador hide-for-small-only"><img
                src="assets/img/teams/nacional.png" alt="" class="escudo"> 1-3 <img
                src="assets/img/teams/millonarios.png" alt="" class="escudo"></div>

        <div class="small-6 medium-4 columns text-left info">
            <div class="players">
                <div class="eventos-r"><img src="assets/img/icon/gol.png" alt=""></div>
                S. Hernandez <strong>´40</strong></div>
            <div class="players">
                <div class="eventos-r"><img src="assets/img/icon/yellow-card.png" alt=""></div>
                J. Cardenas <strong>´40</strong>, O. Valencia <strong>´40</strong></div>
            <div class="players">
                <div class="eventos-r"><img src="assets/img/icon/red-card.png" alt=""></div>
                O. Valencia <strong>´40</strong></div>
        </div>
    </div>
    <div class="row condensed container-timeline hide-for-small-only">
        <div class="medium-1 columns">
            <diw class="row">
                <div class="medium-12 columns"><img src="assets/img/teams/nacional.png" alt="" class=""></div>
                <div class="medium-12 columns"><img src="assets/img/teams/millonarios.png" alt="" class=""></div>
            </diw>
        </div>

        <div class="medium-11 columns tiempo">
            <img src="assets/img/icon/yellow-card.png" alt="" class="evento">
            <div class="minuto">1</div>
            <div class="line"></div>
            <img src="assets/img/icon/red-card.png" alt="" class="evento visitante">
        </div>
    </div>
    <div class="row tabs-header">
        <div class="small-12 small-centered medium-6 medium-centered columns">
            <ul class="tabs" data-active-collapse="true" data-tabs id="collapsing-tabs">
                <li class="tabs-title is-active"><a href="#juego" aria-selected="true">En juego</a></li>
                <li class="tabs-title"><a href="#alineaciones">Alineaciones</a></li>
                <li class="tabs-title"><a href="#estadisticas">Estadisticas</a></li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="tabs-content" data-tabs-content="collapsing-tabs">
    <div class="tabs-panel is-active" id="juego">
        {{> comentarios}}
    </div>
    <div class="tabs-panel" id="alineaciones">
        {{> alineacion}}
    </div>
    <div class="tabs-panel" id="estadisticas">
        {{> estadisticas}}
    </div>
</div>

